{% extends 'base.html' %}

{% block content %}

    <div class="flex flex-col p-10">
        <div class="w-full">
            <h1 class="text-2xl font-bold">My Cart (3)</h1>
        </div>
       <div class="flex">
        <div class="w-8/12 p-5">
            {% for items in order.items.all %}
            <div class="flex gap-4 shadow border mb-3">
                <div class="w-1/6"><img src="{{items.item.cover.url}}" class="w-full" alt=""></div>
                <div class="w-5/6 flex flex-col gap-2">
                    <h1 class="text-xl font-sans font-bold uppercase">{{items.item.title}}</h1>
                    <h6 class="text-xl font-semibold"><span class="text-green-700">{{items.getDiscountPrice}}/-</span> 
                        <span class="text-red-700"><del>{{items.getPrice}}/-</del></span> 
                        <span class="text-green-600">({{items.getDiscountPercent}}%)</span></h6>
                    <div class="flex gap-4  items-center">
                        <a href="{% url 'removeFromCart' items.item.id %}" class="bg-red-500 hover:bg-red-700 text-white px-3 py-2 text-xl">-</a>
                        <span class="text-2xl font-semibold">{{items.qty}}</span>
                        <a href="{% url 'addToCart' items.item.id %}" class="bg-green-500 hover:bg-green-700 text-white px-3 py-2 text-xl">+</a>
                    </div>
                    <div class="flex">
                        <a href="{% url 'removeSingleItem' items.item.id %}" class="bg-gray-500 hover:bg-gray-700 text-white px-3 py-2 text-sm mt-5 rounded">Remove</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>    
        <div class="w-4/12">
            <h1 class="text-3xl font-bold  mb-3">Price Details</h1>
            <table class="border w-full">
                <tr>
                    <th class="border">Total Amount</th>
                    <td class="border text-semibold">{{order.getTotalPrice}}/-</td>
                </tr>
                <tr>
                    <th class="border">Total Discount</th>
                    <td class="border text-semibold">{{order.getTotalDiscountPrice}}/-</td>
                </tr>
               {%if order.coupon %}
                <tr class="bg-yellow-500">
                    <th class="border">Coupon Discount</th>
                    <td class="border text-semibold">-{{order.coupon.amount}}/- (<small>{{order.coupon.code}} Applied</small>)
                    <a href="{% url 'RemoveCoupon'%}" class="text-white text-sm font-semibold float-right mr-3">Remove</a>
                    </td>
                </tr>
               {%endif %}
                <tr>
                    <th class="border">Tax (18% GST)</th>
                    <td class="border text-semibold">{{order.getTax}}/-</td>
                </tr>
                <tr>
                    <th class="border">Total Payable Amount</th>
                    <td class="border text-semibold text-3xl font-black text-green-800">{{order.getPayableAmount}}/-</td>
                </tr>
            </table>

            <div class="flex justify-center gap-3 mt-3">
                <a href="" class="text-white flex w-full bg-orange-600 hover:bg-orange-900 px-3 py-2 rounded text-center">More Shopping</a>
                <a href="" class="text-white flex w-full bg-teal-600 hover:bg-teal-900 px-3 py-2 rounded text-center">Checkout</a>
            </div>

            {%if not order.coupon %}
                <div class="mt-4">
                    <form class="flex justify-center" method="post" action="{%url 'addCoupon'%}">
                        {% csrf_token %}
                        <input type="text" name="code" placeholder="Enter Code" class="flex border px-3 py-2 text-lg border-slate-700">
                        <input type="submit" value="Apply" class="bg-red-600 flex text-white px-3 py-2">
                    </form>
                </div>
            {% endif %}
        </div>   
       </div> 
    </div>


{% endblock content %}


